<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Pumpkin's</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feed.feedsky.com/Pumpkinsm">
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1281124-20']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		
        <script type="text/javascript">
            function len(t){
                var end = new Date()
                var start = new Date(1989,8,3)
                return ((t-start)/(end-start))*700+10+85
            }
		</script>
	</head>

	<body>
        <!--
		<div id="lifebar">
		<h1>Before I passed out.</h1>
		<script type="text/javascript">
			var Time = new Array(new Date(1989,10 -1,3),
								new Date(1999,6 -1,1),
								new Date(2001,9 -1,1),
								new Date(2003,8 -1,15),
								new Date(2005,9 -1,1),
								new Date(2008,6 -1,8),
								new Date(2008,9 -1,1),
								new Date(2010,11 -1,24),
								new Date(2011,7 -1,11),
								new Date());
			var decr = new Array("Born, said: \"Hello World.\"",
								"The tailender of school, nice youth.",
								"The shine of my teen appeared.",
								"Away from hometown, the year of darkness.",
								"Highschool => the big step of my convertion.",
								"Working hardest to away from my happiest day, What a pity.",
								"The stupid, free, yearning University Days.",
								"The end of my ACM.",
								"First job => SDE intern @M$.",
								"It's Now!Guess what am I doing?")
			for (i=0;i<Time.length;i++) {
				document.write("<div class=\"lifebarMrk\" style=\"top: " + len(Time[i]) + "px; \">")
				document.write("<a target=\"_blank\"><span class=\"balloon\"><pre style=\"width: " + (decr[i].length/decr[0].length)*250 +"px; \">")
				document.write("<strong>" + Time[i].toDateString() + "</strong><br>")
				document.write(decr[i])
				document.write("</pre></span><img src=\"/image/Mark.png\" /></a></div>")
			}
		</script>
		</div>
        --!>
		
		<div id="logo"><h1><a href="/">mou's</a></h1></div>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li>
							<a href="/">ARTICLES</a>
							<ul>
								{% for category in site.categories %}
								<li><a href="/{{ category[0]  }}.html"> {{ category[0]  }}</a></li>
								{% endfor %}
							</ul>
						</li>
							<li><a href="/about.html">ABOUT</a></li>
							<li><a href="/links.html">LINKS</a></li>
	                        <li><a href="http://pumpkinsm.diandian.com/">PUMPKIN'S</a></li>
					</ul>
				</div>
				
				<div id="main">
					<h1>CATEGORY » {{ page.title }}</h1>
					{{ content }}
				</div>

	</body>
</html>


